body {
    height: 100vh;
    margin: 0;
    background: #222228;
    font-family: arial, sans-serif;
}
#main_disp {
    margin-top: 40px;
    margin-left: calc(50% - 405px);
    width: 600px;
    height: 600px;
    border: none;
}

#control {
    position: absolute;
    top: 395px;
    left: calc(50% + 205px);
    /* width: 232px; */
    /* text-align: center; */
    /* padding: 0 10px; */
}
#control button {
    background: #444;
    border: solid 1px #888;
    border-radius: 3px;
    padding: 2px 8px;
    height: 35px;
}
#control button:hover {
    background: #555;
}
#control i {
    color: #ddd;
}
#control p {
    color: #ddd;
    margin: 0;
    font-size: 0.9em;
}

#option {
    border: solid 1px #888;
    border-radius: 3px;
    padding: 7px 10px;
    color: #ddd;
    font-size: 0.9em;
    position: absolute;
    top: 40px;
    left: calc(50% + 205px);
    width: 210px;
}
#option p {
    margin: 0;
    margin-bottom: 10px;
}

#stat {
    border: solid 1px #888;
    border-radius: 3px;
    padding: 7px 10px;
    color: #ddd;
    font-size: 0.9em;
    position: absolute;
    top: 185px;
    left: calc(50% + 205px);
    width: 210px;
}
#stat p {
    margin: 0;
    margin-bottom: 10px;
}